html,
body,
content {
    width: 100%;
    height: 100%;
}

.foobar {
    width: 30%;
    margin: 20px;
}

.mid-page {
    align-self: center;
}

.bg-custom {
    /* The image used */
    background-image: url("/resources/images/2019-Montana-Folk-Festival-Butte-Montana-28.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}