<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Butte Air Quality</title>
	<link rel="stylesheet" type="text/css" href="/resources/main.css">
</head>
<body>

<p> {{.}} </p>

</body>
</html>