<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Butte Air Quality</title>
	<link rel="stylesheet" type="text/css" href="/resources/stylesheets/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Butte Air Quality</span>
	</nav>

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Butte's Air Quality Rating</h1>
		<!-- temporarily removed tagline.
		<p class="lead">

			Butte's air is probably meh at best but you can look here to make
			sure.

		</p>
		-->
	</div>
	<div class="container">
		<div class="flex-row">
			{{range .}}
			{{template "device" .}}
			{{end}}
		</div>
	</div>
</body>

</html>